.pops{
    width: 400px;
    height: 350px;
    margin: 20px;
}

.main{
    position: relative;
    top: 105px;
}

.chicken{
    display: inline-flex;
}

.btn-wrapper{
    display: inline-flex;
    gap: 10px;
}

.cart1{
  width: 20px;
  height:15px;
  align-self: center;
}

#input{
    width: 30px;
}
