section{
    border: dotted;
    width:210px ;
    border-color: #ffffff;
}
section p{
    text-align: center;
}

.section-img{
    width:200px;
    height: 200px;

}

.wrapper{
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    column-gap: 20px;
    grid-template-columns:1fr 1fr 1fr 1fr ;
}

.cart1{
    width: 20px;
    height: 13px;
    align-self: center;
  }
  
  input{
      width: 30px;
  }